<template>
  <div class="auth min-h-screen flex flex-col items-center justify-center">
    <h1 class="text-2xl md:text-4xl mb-8 font-bold tracking-wide">Login</h1>
    <div class="bg-nord4 dark:bg-nord1 p-6 flex flex-col rounded shadow-inner">
      <label for="username" class="block font-semibold mb-1.5 text-lg">Username</label>
      <input placeholder="SonoMichele" type="text" id="username" v-model="state.username" class="block p-1 w-full rounded shadow bg-nord5 dark:bg-nord0 focus:outline-none focus:ring-4 focus:ring-nord10 mb-3">
      <label for="password" class="block font-semibold mb-1.5 text-lg">Password</label>
      <input placeholder="*********" type="password" id="password" v-model="state.password" class="block p-1 w-full rounded shadow bg-nord5 dark:bg-nord0 focus:outline-none focus:ring-4 focus:ring-nord10 mb-3">
    </div>
    <button @click="authenticate" class="mt-4 bg-nord14 text-nord0 uppercase font-bold py-0.5 px-3 rounded">Login</button>
  </div>
</template>

<script>
import {reactive} from "vue";
import {useStore} from "vuex";
import {useRouter} from "vue-router"

export default {
  name: "Auth",
  setup() {
    const store = useStore()
    const router = useRouter()
    const state = reactive({
      username: "",
      password: "",
      errorMsg: "",
    })

    function authenticate() {
      store.dispatch('login', {
        username: state.username,
        password: state.password
      }).then(() => router.push('/'))
    }

    // function register() {
    //   store.dispatch('register', {
    //     username: state.username,
    //     password: state.password
    //   }).then(() => router.push('/files'))
    // }

    return {
      state,
      authenticate
    }
  }
}
</script>

<style scoped>

</style>