<template>
  <div class="home">
    Files Gang
  </div>
</template>

<script>
// import {onMounted} from "vue";
// import {useStore} from "vuex";

export default {
  name: "Files",
  setup() {
    // const store = useStore()
    //
    // onMounted(() => {
    //   console.log(store.dispatch('test'))
    // })

  }
}
</script>

<style scoped>

</style>