<template>
  <div class="home">
    Home Gang<br>
    <router-link v-if="!isAuthenticated" to="/auth">Login / Register</router-link>
  </div>
</template>

<script>
import {useStore} from "vuex";
import {computed} from "vue";

export default {
  name: 'Home',
  setup() {
    const store = useStore()

    const isAuthenticated = computed(() =>
        store.getters.isAuthenticated)

    return {
      isAuthenticated
    }
  }
}
</script>
