<template>
  <div class="settings flex flex-col items-center">
    <h1 class="text-2xl md:text-4xl mb-8 font-bold tracking-wide">Server settings</h1>
    <form class="w-full lg:w-3/4 flex flex-col items-center justify-between space-y-4">
      <div class="w-full bg-nord4 dark:bg-nord2 rounded shadow-inner p-3 md:px-6 lg:px-8 flex flex-col space-y-4">
        <SettingItem
          v-for="(setting, index) in settings"
          :key="index"
          :type="setting.type"
          :labelText="setting.labelText"
          :settingName="setting.settingName"
          :defaultValue="setting.defaultValue"
          :actualValue="setting.actualValue"
        ></SettingItem>
      </div>
      <div class="w-full h-10 inline-flex justify-end">
        <button class="bg-nord14 text-nord0 uppercase font-bold py-0.5 px-3 rounded">
          Save
        </button>
      </div>
    </form>
  </div>
</template>

<script>
import SettingItem from "@/components/SettingItem";
import { useStore } from 'vuex';
import { onMounted, computed } from "vue";

export default {
  name: "Settings",
  components: {
    SettingItem
  },
  setup() {
    const store = useStore()
    const settings = computed(() => store.state.serverAPI.serverSettings)

    onMounted(() => {
      store.dispatch('serverAPI/getServerSettings')
    })

    return {
      settings
    }
  }
}
</script>

<style scoped>

</style>