<template>
  <div id="navbar-container" class="transition-colors duration-100 ease-in-out z-50 h-screen bg-nord6 dark:bg-nord1 flex flex-col justify-between py-4 px-2">
    <ul class="flex flex-col items-center justify-center space-y-5">
      <NavItem
          link="/"
          text="Home"
          icon='<svg class="w-8 h-8 inline-block" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path></svg>'
      />
      <NavItem
          link="/console"
          text="Console"
          icon='<svg class="w-8 h-8 inline-block" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 9l3 3-3 3m5 0h3M5 20h14a2 2 0 002-2V6a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z"></path></svg>'
      />
      <NavItem
          link="/files"
          text="Files"
          icon='<svg class="w-8 h-8 inline-block" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 7v10a2 2 0 002 2h14a2 2 0 002-2V9a2 2 0 00-2-2h-6l-2-2H5a2 2 0 00-2 2z"></path></svg>'
      />
      <NavItem
          link="/settings"
          text="Settings"
          icon='<svg class="w-8 h-8 inline-block" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z"></path><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path></svg>'
      />
    </ul>

    <div class="flex flex-col md:flex-row w-full items-center justify-center space-y-1 md:space-y-0 md:space-x-2">
      <svg class="w-8 h-8" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 3v1m0 16v1m9-9h-1M4 12H3m15.364 6.364l-.707-.707M6.343 6.343l-.707-.707m12.728 0l-.707.707M6.343 17.657l-.707.707M16 12a4 4 0 11-8 0 4 4 0 018 0z"></path></svg>
      <transition>
        <div class="h-10 w-6 md:h-6 md:w-10 xl:w-12 p-0.5 bg-nord4 dark:bg-nord0 rounded-full transition-all duration-100 ease-in-out">
          <button @click="toggleDarkMode" class="h-full w-full focus:outline-none rounded-full flex flex-col items-center md:flex-row focus:justify-end" :class="(darkMode)?'justify-end':'justify-start'">
            <span class="block rounded-full h-5 w-5 bg-nord3 dark:bg-nord6"></span>
          </button>
        </div>
      </transition>
      <svg class="w-7 h-7" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20.354 15.354A9 9 0 018.646 3.646 9.003 9.003 0 0012 21a9.003 9.003 0 008.354-5.646z"></path></svg>
    </div>
  </div>
</template>

<script>
import NavItem from "../components/NavItem";
import { useStore } from "vuex";
import { computed } from "vue";
export default {
  name: "NavBar",
  components: {
    NavItem
  },
  setup() {
    const store = useStore()
    const darkMode = computed(() => store.state.darkMode)

    function toggleDarkMode() {
      store.dispatch('toggleDarkMode')
    }

    return {
      toggleDarkMode,
      darkMode
    }
  }
}
</script>

<style scoped>

</style>