<template>
  <div class="notification" :class="notification.type">
    {{ notification.message }}
  </div>
</template>

<script>
import { onBeforeUnmount } from 'vue';
import { useStore } from 'vuex';
export default {
  name: "NotificationItem",
  props: {
    notification: {
      type: Object,
      required: true
    }
  },
  setup(props) {
    const store = useStore()
    let timeout = null

    timeout = setTimeout(() => {
      store.dispatch('notificationsModule/removeNotification', props.notification)
    }, 3000)

    onBeforeUnmount(() => {
      clearTimeout(timeout)
    })
  }
}
</script>

<style scoped>
  .notification {
    @apply w-64 mb-5 rounded shadow-lg text-nord1 p-4 transition-all delay-200 ease-in-out;
  }

  .alert-success {
    @apply bg-nord14;
  }

  .alert-warning {
    @apply bg-nord12;
  }

  .alert-error {
    @apply bg-nord11;
  }
</style>