<template>
  <div class="notifications">
    <NotificationItem
        v-for="notification in notifications"
        :key="notification.id"
        :notification="notification"
    />
  </div>
</template>

<script>
import { computed } from 'vue';
import NotificationItem from "./NotificationItem";
import { useStore } from 'vuex';
export default {
  name: "NotificationList",
  components: { NotificationItem },
  setup() {
    const store = useStore()
    const notifications = computed(() => store.state.notificationsModule.notifications)

    return {
      notifications
    }
  }
}
</script>

<style scoped>
  .notifications {
    @apply fixed top-0 right-0 mr-5 mt-5;
  }
</style>