<template>
  <SettingItemText
      v-if="type === 'text'"
      :labelText="labelText"
      :settingName="settingName"
      :defaultValue="defaultValue"
      :actualValue="actualValue"
  ></SettingItemText>
  <SettingItemTextArea
      v-if="type === 'textarea'"
      :labelText="labelText"
      :settingName="settingName"
      :defaultValue="defaultValue"
      :actualValue="actualValue"
  ></SettingItemTextArea>
  <SettingItemBool
      v-if="type === 'bool'"
      :labelText="labelText"
      :settingName="settingName"
      :defaultValue="defaultValue"
      :actualValue="actualValue"
  ></SettingItemBool>
  <SettingItemInt
      v-if="type === 'int'"
      :labelText="labelText"
      :settingName="settingName"
      :defaultValue="defaultValue"
      :actualValue="actualValue"
  ></SettingItemInt>
</template>

<script>
import SettingItemText from "@/components/SettingItemText";
import SettingItemBool from "@/components/SettingItemBool";
import SettingItemTextArea from "@/components/SettingItemTextArea";
import SettingItemInt from "@/components/SettingItemInt";

export default {
  name: "SettingItem",
  components: {
    SettingItemTextArea,
    SettingItemText,
    SettingItemBool,
    SettingItemInt
  },
  props: {
    type: {
      type: String,
      required: true
    },
    labelText: {
      type: String,
      required: true
    },
    settingName: {
      type: String,
      required: true
    },
    defaultValue: {
      type: [String, Boolean]
    },
    actualValue: {
      type: [String, Boolean]
    }
  }
}
</script>

<style scoped>

</style>