<template>
  <div class="flex-col">
    <label :for="settingName" class="block font-semibold mb-1.5 text-lg">{{ labelText }}</label>
    <input @keypress="isNumber" ref="input" type="number" min="1" max="65535" :id="settingName" :placeholder="defaultValue" :value="(actualValue) ? actualValue : ''" class="w-full inline-block p-1 rounded shadow bg-nord5 dark:bg-nord0 focus:outline-none focus:ring-4 focus:ring-nord10">
  </div>
</template>

<script>
export default {
  name: "SettingItemInt",
  props: {
    labelText: {
      type: String,
      required: true
    },
    settingName: {
      type: String,
      required: true
    },
    defaultValue: {
      type: String
    },
    actualValue: {
      type: String
    }
  },
  setup() {
    function isNumber(e) {
      let charCode = (e.which) ? e.which : e.keyCode;
      if ((charCode > 31 && (charCode < 48 || charCode > 57))) {
        e.preventDefault();
      } else {
        return true;
      }
      return false;
    }

    return {
      isNumber
    }
  }
}
</script>

<style scoped>

</style>